.footer_container {
  display: flex;
  margin: auto;
  padding: 10px 9%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  font-family: "Urbanist";
  background-position: center;
  background-color: #fbd02c;
}
.footer_container h1 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 20px;
  color: black;
}
