.home{
  min-height: 420px;
}


.dogs {
  display: grid;
  grid: auto-flow / 1fr 1fr;
  margin: auto;
  justify-items: center;
}
.line {
  width: 85%;
  margin-top: 35px;
  border-top: 1px dotted #44b326;
}
.line_dog {
  background-image: url("../../image/navbar.jpg");
  width: 100%;
  height: 74px;
  background-repeat: no-repeat;
  background-position: center;
}
.noSearch{
  display: block;
  max-width: 400px;
  margin: auto;
  grid: none;
}